@page "/Create"
@page "/Create/{TecnicoId:int}"
@inject  TecnicosServices tecnicoService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer


<PageTitle> Registro de Tecnicos</PageTitle>



        <DataAnnotationsValidator />
        <div class="container">
            <div class=" card shadow-lg">
                <div class="card-header"
                    <h3> Crear Tecnicos</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        @*TecnicoId*@
                        <div class="col-xs-12 col-sm-12 col-md-8 col col-lg-6 col-xl-4">...</div>
                    </div>
                    @*SueldoHora*@
                    <div class="mb-3">...</div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    
                        
                 
                </div>
            </div>
        </div>






@code{
    [Parameter]
    public int? tecnicoId { get; set; }

}


